@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradiente(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);
}

button {
  cursor: pointer;
}

.main__container {
  position: relative;
  width: 1296px;
  max-width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
}

.chats {
  width: 30%;
}
.chats__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: #00A884;
}
.chats__header__img {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.chats__header__name {
  font-size: 1.2em;
  font-weight: 600;
  color: #000;
}
.chats__container {
  /* border: 2px solid red  */
  position: relative;
  overflow-y: auto;
  background-color: #fff;
}
.chats__user-second {
  /* border: 3px solid green */
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.chats__user__image {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.chats__details {
  width: 100%;
  margin-left: 10px;
}
.chats__details__username {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}
.chats__details__username h4 {
  font-size: 1.1em;
  font-weight: 600;
  color: #000;
}
.chats__details__username p {
  color: #aaa;
  font-size: 0.9em;
  overlay: hidden;
}
.chats__details__textMessage {
  display: flex;
  justify-content: space-between;
}
.chats__details__textMessage b {
  background: #00A884;
  color: #fff;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  /*   text-align: center; */
  font-size: 0.9em;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__container {
  position: relative;
  width: 100%;
  height: 60px;
  background: #f6f6f6;
  display: flex;
  align-items: center;
}

.search__input {
  width: 100%;
  height: 100%;
}
.search__input input {
  width: 95%;
  outline: none;
  border: none;
  background: #fff;
  height: 38px;
  border-radius: 10px;
  font-size: 13px;
  padding-left: 60px;
  margin: 10px;
}

.webchat {
  display: none;
  margin: 0 auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.webchat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.webchat__user img {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.webchat__messages {
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.webchat__message-received {
  max-width: 50%;
  word-wrap: break-word;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  background: #f0f0f0;
  text-align: left;
  align-self: flex-start;
}
.webchat__message-sent {
  max-width: 50%;
  word-wrap: break-word;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  background: #00A884;
  text-align: right;
  align-self: flex-end;
  color: #fff;
}
.webchat__time {
  font-size: 12px;
  color: #888;
}
.webchat__message-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  border-radius: 5px;
}
.webchat__message-input button {
  background: #00A884;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.webchat__message-input button:hover {
  background: #009688;
}
.webchat__message-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
}
.webchat__message-input input:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 900px) {
  .webchat {
    display: inline;
  }
}
.login {
  display: flex;
  flex-direction: column;
}
.login__container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
}
.login h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #ff0000;
}
.login label {
  margin-top: 10px;
}
.login input {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
.login input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  margin: 0;
}
.login input:focus {
  outline: none;
  border: 1px solid #00A884;
}
.login button {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #00A884;
  border-radius: 4px;
  width: 100%;
  background-color: #00A884;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.login button:hover {
  background-color: #009688;
  border: 1px solid #009688;
}

a {
  text-align: right;
  align-self: flex-end;
  margin-left: 160px;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
