<aside
    class="home-modal welcome"
    id="profile">
    <fieldset class="home-modal__welcome">
        <legend>
            <h1 class="home-modal__title">Profile</h1>
        </legend>
        <!-- <div class="avatar-upload">
            <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload">
                </label>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQqsb6lK-PlD1kHFoubbiC-jN21tqj9ADz9crJ2rBIstz1gKFPE&usqp=CAU);">
                </div>
            </div>
        </div> -->

        <div
            class="drop-zone"
            id="drop-zone">
            <label for="file-input">
                <strong>Drag & Drop</strong> or <span>Browse</span> to upload an
                image
            </label>
            <input
                type="file"
                id="file-input"
                accept="image/*, .png, .jpg, .jpeg" />
        </div>

        <label
            class="home-modal-form__label"
            for="name"></label>
        <input
            class="home-modal__form--input"
            type="text"
            id="name"
            placeholder="Nickname"
            name="name"
            required />

        <label
            class="home-modal-form__label"
            for="password"></label>
        <input
            placeholder="Password"
            class="home-modal__form--input"
            type="password"
            id="password"
            name="password"
            required />

        <label
            class="home-modal-form__label"
            for="phrase"></label>
        <textarea
            placeholder="Say something crazyyy! ...Or deep."
            class="home-modal-form__textarea"
            id="phrase"
            name="phrase"
            required></textarea>

        <button
            class="home-modal__buttons home-modal__button--letsgo"
            type="submit">
            Let's go!
        </button>
    </fieldset>
</aside>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // const dropZone = document.getElementById('drop-zone')
    // const fileInput = document.getElementById('file-input')

    // dropZone.addEventListener('dragover', e => {
    //     e.preventDefault()
    //     dropZone.classList.add('dragover')
    // })

    // dropZone.addEventListener('dragleave', () => {
    //     dropZone.classList.remove('dragover')
    // })

    // dropZone.addEventListener('drop', e => {
    //     e.preventDefault()
    //     dropZone.classList.remove('dragover')
    //     const file = e.dataTransfer.files[0]
    //     handleFile(file)
    // })

    // fileInput.addEventListener('change', () => {
    //     const file = fileInput.files[0]
    //     handleFile(file)
    // })

    // function handleFile(file) {
    //     if (file && file.type.startsWith('image/')) {
    //         const reader = new FileReader()
    //         reader.onload = e => {
    //             const img = new Image()
    //             img.src = e.target.result
    //             img.style.maxWidth = '100%'
    //             img.style.maxHeight = '100%'
    //             dropZone.innerHTML = '' // Clear the drop zone
    //             dropZone.appendChild(img) // Display the uploaded image
    //         }
    //         reader.readAsDataURL(file)
    //     } else {
    //         console.log("No se cargó la imagen")
    //         alert(`If you don't upload an image and provide the other inputs, we will input something for you ;)`)
    //         const defaultImage = 'public/assets/default_avatar.jpg'
    //         const img = new Image()
    //         img.src = defaultImage  
    //         img.style.maxWidth = '100%'
    //         img.style.maxHeight = '100%'
    //         dropZone.innerHTML = '' // Clear the drop zone
    //         dropZone.appendChild(img) // Display the uploaded image
    //     }
    // }
    $(document).ready(function() {
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#drop-zone').css('background-image', 'url(' + e.target.result + ')');
                        $('#drop-zone').css('background-size', 'cover');
                        $('#drop-zone').css('background-position', 'center');
                        $('#drop-zone').css('background-repeat', 'no-repeat');
                        $('#drop-zone').hide()
                        $('#drop-zone').fadeIn(650)
                        $('.label-drop-zone').css('display', 'none')
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#file-input").change(function() {
                readURL(this);
            });

            // Evitar que el navegador abra la imagen cuando se arrastra y suelta
            $('#drop-zone').on('dragover', function(e) {
                e.preventDefault();
                $(this).addClass('dragover');
            });

            $('#drop-zone').on('dragleave', function(e) {
                e.preventDefault();
                $(this).removeClass('dragover');
            });

            $('#drop-zone').on('drop', function(e) {
                e.preventDefault();
                $(this).removeClass('dragover');
                var file = e.originalEvent.dataTransfer.files[0];
                $('#file-input')[0].files = e.originalEvent.dataTransfer.files;
                readURL(file);
            });
        });

</script>
