<div class="main__container">
    <article class="chats">
        <!-- header start -->
        <header class="chats__header">
            <div class="chats__header__name">
                <span>Makaia-App</span>
            </div>
            <img class="chats__header__img" src="https://images.healthshots.com/healthshots/en/uploads/2020/12/08182549/positive-person.jpg" alt="Header img">
            <h1>Chats</h1>
        </header>
        <!-- header finish -->
        <!-- user image start -->
        <!-- <figure class="chats__user">
            <img src="#" alt="">
        </figure> -->
        <!-- user image finish -->
        <!-- Search container -->
        <div class="search__container">
            <div class="search__input">
                <!-- <img src="#" alt=""> -->
                <input type="text" placeholder="Search or start new chat">
            </div>
        </div>

        <!-- chats -->
        <div class="chats__container">
            <div class="chats__user-second">
                <div class="chats__user__image">
                    <img src="https://w7.pngwing.com/pngs/314/994/png-transparent-person-confused-miscellaneous-tshirt-cartoon-thumbnail.png" alt="">
                </div>
                <div class="chats__details">
                    <div class="chats__details__username">
                        <h4>Pepito Perez</h4>
                        <p class="chats__details__timeUnread">
                            4:29
                        </p>
                    </div>
                    <div class="chats__details__textMessage">
                        <p>How are you?</p>
                        <b>1</b>
                    </div>
                </div>
            </div>
        </div>
        <!-- only one chat -->
    </article>
    <article class="webchat">
        <header class="webchat__header">
            <div class="webchat__user">
                <img src="#" alt="User Image">
                <h2>Pepito Perez</h2>
            </div>
            <button class="unregister-button">UN-REGISTER</button>
        </header>
        <div class="chat-messages">
            <div class="message received">
                <p>Hello! How are you?</p>
                <span class="time">10:15 AM</span>
            </div>
            <div class="message sent">
                <p>I'm doing great, thanks!</p>
                <span class="time">10:18 AM</span>
            </div>
            <!-- More messages here -->
        </div>
        <div class="message-input">
            <input type="text" placeholder="Type your message...">
            <button class="send-button">Send</button>
        </div>
    </article>
</div>


