<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src=""></script>
    <link rel="stylesheet" href="public/style/style.css">
    <title>WhatsApp-Clone</title>
</head>
<body>
    <main>
        <div class="main__container__background">
            <div class="main__container">
                <div class="chats">
                    <!-- header start -->
                    <header class="chats__header">
                        <div class="chats__name">
                            <span>WhatsApp-Clone</span>
                        </div>
                        <h1>Chats</h1>
                        +
                        <img src="#" alt="">
                    </header>
                    <!-- header finish -->
                    <!-- user image start -->
                    <figure class="chats__user">
                        <img src="#" alt="" srcset="">
                    </figure>
                    <!-- user image finish -->
                    <!-- Search container -->
                    <div class="search__container">
                        <div class="search__input">
                            <input type="text" placeholder="Search or start new chat">
                        </div>
                        ?
                    </div>

                    <!-- chats -->
                    <div class="chats__container">
                        <div class="chats__user-second">
                            <div class="chats__user__image">
                                <img src="#" alt="">
                            </div>
                            <div class="chats__details">
                                <div class="chats__details__username">
                                    <h4>Pepito Perez</h4>
                                    <p class="chats__details__timeUnread">
                                        4:29
                                    </p>
                                </div>
                                <div class="chats__details__textMessage">
                                    <p>How are you?</p>
                                    <b>1</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- only one chat -->
                </div>
            </div>
        </div>
    </main>
</body>
</html>