<aside
    class="home-modal"
    role="dialog"
    aria-modal="true"
    aria-live="assertive"
    aria-labelledby="home__modal--title">
    <section
        class="home-modal__trust"
        role="dialog">
        <h1 class="home-modal__title">Is this a Trusted Device?</h1>
        <figure>
            <img
                class="home-modal__figure"
                src="/public/assets/tablet.png"
                alt="A device" />
        </figure>
        <p>Session will be kept open on Trusted Devices.</p>
        <i>(You can toggle this option on Settings)</i>
        <section class="home-modal__buttons">
            <button class="home-modal__button--trust">Trust</button>
            <button
                class="home-modal__button--no-trust"
                aria-label="Close">
                Don't Trust
            </button>
        </section>
    </section>
</aside>
