<div class="login__container">
    <form class="login">
        <h2>JOIN IN!</h2>
        <label for="login__cellphone"></label>
        <input
            placeholder="Phone Number"
            type="tel"
            class="login__cellphone"
            id="login__cellphone"
            name="phone"
            required />

        <button
            id="register"
            type="submit">
            Connect
        </button>
        <!-- Iconos redes sociales -->
        <div class="social-icons">
            <i class="fa-brands fa-facebook fa-bounce" style="color: #1e3050;"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </form>
</div>
