<!-- <section>
    <h1>LOGIN</h1>
    <h1>WELCOME, ESTEBAN CRACK</h1>
    <h2>PLEASE, REGISTER!</h2>
    <button id="register">REGISTER</button>
</section> -->
<div class="login__container">
    <form class="login">
        <h2>Iniciar Sesión</h2>
        <label for="login__cellphone">Número Celular:</label>
        <input type="number" id="login__cellphone" name="numero-celular" required>
        
        <label for="login__password">Contraseña:</label>
        <input type="password" id="login__password" name="contrasena" required>
        
        <button id="register" type="submit">Iniciar Sesión</button>
    </form>
</div>