<div class="signup-container">
  <h1 class="signup-container__title">Sign Up</h1>
  <form class="signup-form" action="signup.php" method="POST">
      <label class="signup-form__label" for="username">Username:</label>
      <input class="signup-form__input" type="text" id="username" name="username" required>
      
      <label class="signup-form__label" for="email">Email:</label>
      <input class="signup-form__input" type="email" id="email" name="email" required>
      
      <label class="signup-form__label" for="password">Password:</label>
      <input class="signup-form__input" type="password" id="password" name="password" required>
      
      <button class="signup-form__button" type="submit">Sign Up</button>
  </form>
</div>