<div class="login__container">
    <form class="login">
        <h2>Verify your num</h2>
        <div id="sign-in-button"></div>
        <label for="login__cellphone"></label>
        <input
            placeholder="Received code"
            type="text"
            class="login__cellphone"
            id="login__cellphone"
            name="code"
            required />

        <button
            id="register"
            type="submit">
            Verify Number
        </button>
    </form>
</div>
