@use 'variables' as var
@use 'mixins'

.container_profile
  //border: 1px solid black
  display: none
  width: 30%
  flex-direction: column
  // align-items: center
.message
  // border: 1px solid red 
  height: 30%
  display: flex
  align-content: center
  justify-content: center
  align-items: center
  &__change-profile-button
    // border: 1px solid green
    width: 50%
    height: 60%
    background-color: var.$base_gray_dark
    color: #fff
    font-weight: 500
    cursor: pointer
    border-radius: 50%
    border: none
    &:hover
      background-color: var.$base_gray
      border: 1px solid var.$base_gray
      color: #fff
      cursor: pointer

.profile-modal
  margin-top: 20px
  display: flex
  flex-direction: column
  align-items: center
  

.profile-modal__content
  // border: 1px solid black
  width: 100%
  background-color: #f0f0f0
  padding: 20px
  border-radius: 10px
  text-align: left
  display: flex
  align-content: space-between

// .profile-picture
//   max-width: 100%
//   height: auto
//   border-radius: 50%
//   margin-bottom: 10px

.profile-name
  font-size: 1.2rem
  font-weight: bold
  margin-bottom: 10px
  cursor: text

.profile-edit-button
  background-color: var.$base_gray_dark
  color: #fff
  border: none
  padding: 10px 20px
  font-weight: bold
  border-radius: 5px
  cursor: pointer
  margin-left: 35px