@use 'variables' as var
@use 'mixins'

.chats
    width: 30%
    height: 100%
    position: relative
    border-radius: 0.938rem 0.938rem
    background-color: var.$base_white
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
    display: flex
    flex-flow: column
    &__header
        border-radius: 0.938rem 0.938rem 0 0
        color: var.$base_white
        &__img
            margin-top: 0.625rem
            width: 50%
            height: auto
            border-radius: 10%
            cursor: pointer
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px
            transition: border 0.3s ease
            border: 3px solid rgba(36, 219, 0, 0.5)
            &:hover
                border: 3px solid rgb(81, 255, 6)
                cursor: pointer
        &__name
            display: flex
            flex-flow: column
            align-items: center
        & span
            font-size: 1.2em
            font-style: italic
            font-weight: 500
            color: #B65FCF
            cursor: pointer
            &:hover
                text-decoration-line: underline
                text-decoration-color: #B65FCF
        & h3
            width: 100%
            height: 100%
            text-align: center
            margin-top: 1rem
            font-weight: 600
            color: var.$base_white
            border-bottom: 2px solid transparent
    &__container
        position: relative
        overflow-y: auto
        flex: 10
    &__user
        &-second
            position: relative
            width: 100%
            display: flex
            align-items: center
            cursor: pointer
            padding: 15px
            border-bottom: 1px solid #eee
        &__image
            @include mixins.image-mixin(50px,42px)

    &__details
        width: 100%
        margin-left: 10px
        &__username
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 2px
            & h4
                font-size: 1.1em
                font-weight: 600
                color: #000
            & p
                color: #aaa
                font-size: 0.9em
                overlay: hidden

        &__textMessage
            display: flex
            justify-content: space-between
            b
                background: var.$base_purpureus
                color: #fff
                min-width: 20px
                height: 20px
                border-radius: 50%
                font-size: 0.9em
                font-weight: 400
                display: flex
                justify-content: center
                align-items: center
