@use 'variables' as var

.main__container
    border: 1px solid blue
    &__background
        position: absolute
        top: 0
        width: 100%
        height: 20%
        background-color: var.$base_green