@use 'variables' as var

.main__container
    border: 1px solid blue
    position: relative
    width: 1396px
    max-width: 100%
    height: calc( 100vh - 40px )
    display: flex
    justify-content: space-around
    // &__background
    //     position: absolute
    //     top: 0
    //     width: 100%
    //     height: 20%
    //     background-color: var.$base_green