@use 'variables' as var

@mixin image-mixin($size)
    position: relative
    width: $size
    height: $size
    overflow: hidden
    border-radius: 50%
    cursor: pointer

@mixin message-mixin($color,$orientation,$align)
    max-width: 50%
    word-wrap: break-word
    margin: 10px 0
    padding: 10px
    border-radius: 8px
    background: $color
    text-align: $orientation
    align-self: $align

// Daniel's messed up mixins

@mixin modal-container
    position: fixed
    top: 0
    left: 0
    min-height: 100vh
    min-width: 100vw
    background-color: var.$modal_container_bg_gray
    display: flex
    justify-content: center
    align-items: center

@mixin modal
    background-image: linear-gradient(to bottom right, #add2d6, #3382b7)// 9c39ff
    height: min-content
    display: flex
    flex-flow: column
    border: 2px solid
    border-color: black
    border-radius: 20px
    align-items: center
    padding: 69px
    font-size: 1.2rem
    transition: border-color .25s
    &:hover
        border-color: blue

@mixin modal-button
    font-size: 1rem
    padding: 12px
    min-width: 180px
    border-radius: 9px
    transition: all .25s
    &:hover
        background-color: white
        border-color: white
        
