@use 'variables' as var

@mixin image-mixin($size1,$size2)
    position: relative
    width: $size1
    height: $size2
    overflow: hidden
    border-radius: 50%
    cursor: pointer
    display: flex
    justify-content: center

@mixin message-mixin($color,$orientation,$align)
    max-width: 50%
    word-wrap: break-word
    margin: 10px 0
    padding: 10px
    border-radius: 8px
    background: $color
    text-align: $orientation
    align-self: $align

// Daniel's messed up mixins

@mixin modal-container
    position: fixed
    top: 0
    left: 0
    min-height: 100vh
    min-width: 100vw
    background-color: var.$modal_container_bg_gray
    display: flex
    justify-content: center
    align-items: center

@mixin modal
    background-image: linear-gradient(to bottom right, #add2d6, var.$base_purpureus)// 9c39ff
    height: min-content
    position: relative
    display: flex
    flex-flow: column
    border: 2px solid
    border-color: black
    border-radius: 20px
    align-items: center
    font-size: 1.2rem
    transition: border-color .25s
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
    -webkit-animation-name: animatetop
    -webkit-animation-duration: 0.4s
    animation-name: animatetop
    animation-duration: 0.4s &__figure
    /* Add Animation */
    @-webkit-keyframes animatetop
    from 
        top: -300px &__figure
        opacity: 0 &__figure

    to 
        top: 0
        opacity: 1
    @keyframes animatetop
        from
            top: -300px
            opacity: 0
        to
            top: 0
            opacity: 1
    &:hover
        border-color: var.$base_white

@mixin modal-button
    font-size: 1rem
    padding: 12px
    min-width: 180px
    border-radius: 9px
    transition: all .25s
    &:hover
        background-color: white
        border-color: white

@mixin rainbow-border
        &:before
            content: ''
            background: linear-gradient(45deg,#ff0000,            #ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#7a00ff,#ff00c8,#ff0000)
            position: absolute
            top: -2px
            left: -2px
            background-size: 400%
            z-index: -1
            filter: blur(5px)
            width: calc(100% + 4px)
            height: calc(100% + 4px)
            animation: glowing 20s linear infinite
            transition: opacity 0.3s ease-in-out
            border-radius: 10px
        @keyframes glowing 
            0%
                background-position: 0 0
            50%
                background-position: 400% 0
            100%
                background-position: 0 0
        &:after
            z-index: -1
            content: ''
            position: absolute
            width: 100%
            height: 100%
            background: #222
            top: 0
            left: 0
            border-radius: 10px
        &:hover
            &:before
                opacity: 0.6
            &:after
                opacity: 0.1
