.search__container
    // border: 1px solid black
    position: relative
    width: 100%
    height: 3.75rem
    background: #f6f6f6
    display: flex
    align-items: center


.search__input
    // border: 1px solid red
    width: 100%
    height: 100%
    & input
        width: 95%
        outline: none
        border: none
        background: #fff
        height: 2.375rem
        border-radius: 0.625rem
        font-size: 0.813rem
        padding-left: 3.75rem
        margin: 0.625rem
