@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap')

$base_green: #00A884
$base_green_dark: #009688
$base_green_light: #b2d8b2
$base_red: #ff0000
$base_red_dark: #cc0000
$base_gray: #f0f0f0
$base_gray_dark: #ccc
$base_gray_light: #f5f5f5

// Daniel's messed up variables
$modal_container_bg_gray:rgba(0,0,0,0.69)
$modal_container_button_yellow: #ffdb59

$base_purpureus: #9d44b5
$base_purpureus_dark: #7d3a9e
$base_purpureus_light: #b85fc7
$base_cardinal: #c52233
$base_cardinal_dark: #a31e2f  
$base_cardinal_light: #ff6a76
$base_white: rgba(255, 255, 255, 0.5)
$base_raisin_black: #201e1f
$base_gray: #7e8287
$base_gray_dark: #5e6166
