@use 'variables' as var
@use 'mixins'

.webchat
    // border: 1px solid black
    display: none
    margin: 0 auto
    padding: 20px
    width: 70%
    background: var.$base_white
    border-radius: 0.625rem 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
    &__header
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 20px
        width: 100%
        border: 1px solid black
        border-radius: 0.625rem 0.625rem 0 0
        height: auto
    &__user
        & img
            // border: 1px solid black
            margin-left: 10px
            @include mixins.image-mixin(50px,58px) 

    &__messages
        overflow-y: auto
        padding: 10px
        border: 1px solid #ccc
        border-radius: 5px
        margin-bottom: 20px
        display: flex
        flex-direction: column
    &__message
        &-received
            border: 1px solid var.$base_cardinal_light
            @include mixins.message-mixin(var.$base_gray_light,left, flex-start)
        &-sent
            @include mixins.message-mixin(var.$base_cardinal_light, right, flex-end)
            color: #fff
    &__time
        font-size: 12px
        color: var.$base_raisin_black
    &__message-input
        display: flex
        justify-content: space-between
        align-items: center
        border-top: 1px solid #ddd
        border-radius: 5px
        & button
            background: var.$base_purpureus
            color: #fff
            border: none
            padding: 10px 20px
            border-radius: 5px
            cursor: pointer
            outline: none
            &:hover
                background: var.$base_purpureus_dark

        & input
            flex: 1
            padding: 10px
            border: none
            outline: none
            border-radius: 5px
            margin-right: 10px
            &:focus
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
@media (min-width: 1200px)
    .webchat
        display: inline 